# For iceFUN board

set_io --warn-no-port io_out[0]    B14
set_io --warn-no-port io_out[1]    C12
set_io --warn-no-port io_out[2]    C14
set_io --warn-no-port io_out[3]    D12
set_io --warn-no-port io_out[4]    D14
set_io --warn-no-port io_out[5]    E12
set_io --warn-no-port io_out[6]    E14
set_io --warn-no-port io_out[7]    F12
# set_io --warn-no-port io_col[0]    C5
# set_io --warn-no-port io_col[1]    A6
# set_io --warn-no-port io_col[2]    D10
# set_io --warn-no-port io_col[3]    A12
set_io --warn-no-port TINY_CLK     P7


set_io --warn-no-port io_in[0] A3
set_io --warn-no-port io_in[1] A2
set_io --warn-no-port io_in[2] A1
set_io --warn-no-port io_in[3] C3
set_io --warn-no-port io_in[4] D3
set_io --warn-no-port io_in[5] B1
set_io --warn-no-port io_in[6] C1
set_io --warn-no-port io_in[7] D1